.input {
  width: 100%;
  padding: 0.625rem 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: none;
  transition:
    border-color 0.15s,
    box-shadow 0.15s;
  font-family: "Google Sans Flex", sans-serif;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.input:focus-visible {
  border-color: rgb(192 132 252); /* purple-400 */
  box-shadow: 0 0 0 2px rgba(192, 132, 252, 0.3);
}
